body{
    background-color: yellow;
}
tr{
    perspective: 1000px;
}
td{
    transition: transform 1s;
    transform-style: preserve-3d;
}
.card{
    position: relative;
    width:150px;
    height: 210px;
    background-image: url('cardback_18.png');
    background-size: 150px;
}
.front{
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 100px;
    text-align: center;
    vertical-align: middle;
    line-height: 170px;
    background-color: transparent;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.flip{
    transform: rotateY(180deg);
}
